absl-py==2.3.1
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
farama-notifications==0.0.4
filelock==3.18.0
fonttools==4.58.5
fsspec==2025.5.1
grpcio==1.48.2
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
jinja2==3.1.6
kiwisolver==1.4.8
markdown==3.8.2
markupsafe==3.0.2
matplotlib==3.10.3
mpmath==1.3.0
networkx==3.5
numpy==1.24.4
pandas==2.3.1
pillow==11.3.0
protobuf==6.31.1
pygame==2.6.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
shimmy==2.0.0
six==1.17.0
stable-baselines3==2.6.0
sympy==1.14.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tzdata==2025.2
werkzeug==3.1.3
